.paper-hover:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .paper-hover:hover {
    opacity: 1;
  }
}

.title-hover:hover {
  opacity: 0.5;
  cursor: pointer;
}

@keyframes dice-roll {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.dice-icon {
  display: inline-block;
  animation: dice-roll 0.3s ease-in-out;
}
